<div class="p-8 sm:ml-64">

  <%= form_with  model: @next, url: next_index_path, method: :post, data: { turbo: false }, local: true do |form| %>


      <div class="my-5">
          <%= form.label :name %>
          <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-[50%]" %>
        </div>

        <div class="my-5">
          <%= form.label :relationship %>
          <%= form.text_field :relationship, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-[50%]" %>
        </div>
        <div class="my-5">
          <%= form.label :phone_number %>
          <%= form.phone_field :phone_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-[50%]" %>
        </div>
        <div class="inline">
          <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        </div>
    <% end %>
</div>