<div class="p-4 sm:ml-64">
  <div class="p-1 rounded-lg mt-14">
    <!--This is the working code-->
    <div class="grid md:grid-cols-5 grid-cols-1 gap-4 mb-4">
      <div class="col-span-2">
        <%= render "profile" %>
        <%= render "nextofkin" %>
        <%= render "exist" %>
      </div>


      <div class="col-span-3">
        <!-- General Information Area-->
        <%= render "general" %>
        <!-- Calender With Events-->
        <%= render "calendar" %>

      </div>
    </div>

  </div>
</div>
