<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lifeline OR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= render "layouts/alert" %>
      <% if current_user %>
        <%= render "layouts/sidebar" %>
        <!-- We create a link to log out -->
      <% end %>
      <%= yield %>

    </main>
  </body>
</html>
