<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lifeline OR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>


    <script type="text/javascript" src="https://cdn.tiny.cloud/1/51we9eiu22w8w2p4fijko8ri7e3d66dm3jd9rbbcdia8l1em/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount',
                'textcolor'
            ],
            toolbar: 'undo redo | formatselect | ' +
                ' bold italic backcolor | alignleft aligncenter ' +
                ' alignright alignjustify | bullist numlist outdent indent | ' +
                ' removeformat | help' + ' | forecolor backcolor',
        });
    </script>
  </head>

  <body>
    <main>
      <%= render "layouts/alert" %>
      <% if current_user %>
        <%= render "layouts/sidebar" %>
        <!-- We create a link to log out -->
      <% end %>
      <%= yield %>

    </main>
  </body>
</html>
